<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <springProperty name="team" scope="context" source="myapplication.author" defaultValue="-"/>

    <springProfile name="dev">
        <appender name="CONSOLE_ACCESS_DEV" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>common</pattern>
            </encoder>
        </appender>
        <appender-ref ref="CONSOLE_ACCESS_DEV"/>
    </springProfile>

    <springProfile name="k8s">
        <appender name="CONSOLE_ACCESS_K8S" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashAccessEncoder"/>
        </appender>
        <appender-ref ref="CONSOLE_ACCESS_K8S"/>
    </springProfile>
</configuration>
