<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <springProperty name="team" scope="context" source="myapplication.author" defaultValue="-"/>

    <springProfile name="dev,test,integration-test,integrationTest">
        <springProperty name="consoleLogLevel" source="logging.console.level" defaultValue="INFO"/>
        <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
            <neverBlock>true</neverBlock>
            <appender-ref ref="CONSOLE"/>
        </appender>
        <root level="${consoleLogLevel}">
            <appender-ref ref="ASYNC_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="k8s">
        <appender name="CONSOLE-JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <arguments>
                        <fieldName>context</fieldName>
                    </arguments>
                    <pattern>
                        <pattern>
                            {
                            "date": "%date{ISO8601,GMT+2}",
                            "priority": "%level",
                            "pid": "${PID:- }",
                            "thread": "%t",
                            "logger": "%logger",
                            "message": "%.-10000msg",
                            "stacktrace": "%.-10000throwable",
                            "team": "%property{team}"
                            }
                        </pattern>
                    </pattern>
                    <mdc>net.logstash.logback.composite.loggingevent.MdcJsonProvider</mdc>
                </providers>
            </encoder>
        </appender>
        <appender name="ASYNC_CONSOLE_JSON" class="ch.qos.logback.classic.AsyncAppender">
            <neverBlock>true</neverBlock>
            <appender-ref ref="CONSOLE-JSON"/>
        </appender>
        <logger name="com.facuramallo" level="INFO" />
        <root level="INFO">
            <appender-ref ref="ASYNC_CONSOLE_JSON"/>
        </root>
    </springProfile>
</configuration>
